body {
    background-image: url(../images/nes_bck.png);
    /* font-family: 'Aldrich', sans-serif; */
    font-family: 'Press Start 2P', cursive;
}

p {
    color: white;
    margin-top: 20px;
}

.title {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;    
    position: relative;
    height: 200px;
}

/* .title-img {
    width: 100%;
} */

.title-hangman {
    position: absolute;
    color: white;
    top: 20%;
    left: 10%;
    font-size: 20px;
    transform: rotate(10deg);
}

.title-metroid {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 0;
    font-size: 76px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
}

.content-fluid {
    margin-top: 20px;
}

.custom-border {
    border: 4px dashed limegreen;
}

.scores {
    font-weight: bold;
}

.blanks {
    margin-top: 40px;
    margin-bottom: 40px;
}

.glow {
    text-shadow: 0 0 40px yellowgreen;
    animation: pulse ease-in-out 2s infinite;
}

#hintImg {
    max-height: 400px;
}

@keyframes pulse {
    0% {text-shadow:  0 0 40px yellowgreen}
    50% {text-shadow:  0 0 10px yellowgreen}
    100% {text-shadow:  0 0 40px yellowgreen}
}

@media screen and (max-width: 850px) {
    .wrapper {
        width: 80%;
    }

    .title {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 150px;
    }

    .title-hangman {
        top: 20px;
        left: 0;
    }

    .title-metroid {
        bottom: 0;
        left: 0;
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        width: 100%;
    }
    
    .title {
        width: 100%;
        margin: 0;
        height: 125px;
    }

    .title-metroid {
        font-size: 40px;
    }
}